# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.env
venv/
env/
.venv/

# VSCode
.vscode/

# PyCharm
.idea/

# Docker
*.log
*.pid
*.sock

# OS
.DS_Store
Thumbs.db

# Alembic
backend/alembic/versions/*.pyc

# Node/Frontend (если есть)
node_modules/
dist/
build/

# Others
*.egg-info/
